<nav class="navbar">
  <div class="nav-left">
    <h1>StockPro</h1>
  </div>
  <div class="nav-right">
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/portfolio" class="nav-link">Portfolio</a></li>
  </div>
</nav>
